.login__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login__info .log__password {
  padding: 2em;
  margin: 2em;
  outline: none;
  border: 2px solid grey;
  border-radius: 5%;
}
.login__info .log__email {
  padding: 2em;
  margin: 2em;
  outline: none;
  border: 2px solid grey;
  border-radius: 5%;
}
.login__info .login__btn {
  padding: 2em 3em;
  background-color: orange;
  border: none;
  border-radius: 5%;
}

.login__message {
  color: RED;
  font-size: bolder;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px solid gray;
}

.nav__center ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  display: inline-block;
  margin: 1em 2em;
}

.nav__center ul li a {
  text-decoration: none;
  color: gray;
}

.homepage__video video {
  width: 100%;
  height: 50%;
}

.home__products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3em;
}

.display__products {
  padding: 2em;
  background-image: linear-gradient(-45deg, gray, #fff);
  text-align: center;
  height: 400px;
}

.add__btn {
  padding: 1em 3em;
  background: gray;
  border: none;
  border-radius: 3%;
}

footer {
  display: flex;
  justify-content: space-between;
}
footer .footer__input {
  padding: 2em;
  outline: none;
  margin-left: 3em;
}
footer p {
  margin: 1em 3em;
}
footer .submit__btn {
  padding: 2em;
  background-color: #808080;
  border: none;
  border-radius: 5%;
}

.contact__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.contact__details input {
  outline: none;
  padding: 1.5em;
  margin: 1em;
  min-width: 50%;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

.contact__submit {
  padding: 2em 3em;
  background-color: #808080;
  border: none;
  border-radius: 3%;
}

.registration__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.registration__info .reg__name {
  padding: 1.5em;
  margin: 1.5em;
  outline: none;
  border: 2px solid grey;
}
.registration__info .reg__email {
  padding: 1.5em;
  margin: 1em;
  outline: none;
  border: 2px solid grey;
}
.registration__info .reg__number {
  padding: 1.5em;
  margin: 1em;
  outline: none;
  border: 2px solid grey;
}
.registration__info .reg__adress {
  padding: 1.5em;
  margin: 1em;
  outline: none;
  border: 2px solid grey;
}
.registration__info .reg__password {
  padding: 1.5em;
  margin: 1em;
  outline: none;
  border: 2px solid grey;
}
.registration__info .reg__passwordconfirmation {
  padding: 1.5em;
  margin: 1em;
  outline: none;
  border: 2px solid grey;
}
.registration__info .regin__btn {
  padding: 2em 3em;
  background-color: orange;
  border: none;
  border-radius: 5%;
}

.registration__info input {
  width: 120%;
}

.registration__paragraph {
  text-align: center;
}

.reg__btn {
  padding: 2em 3em;
  background-color: gray;
  border: none;
  border-radius: 5%;
  color: #fff;
  text-decoration: none;
}
.reg__btn .reg__btn a {
  text-decoration: none;
  color: #fff;
}

.notification {
  color: red;
  margin: 1em 0;
  font-weight: bolder;
}

.products__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  box-shadow: 10px 5px 10px 5px gray;
  width: 50%;
}

.product__input {
  padding: 1em;
  border: 2px solid gray;
  outline: none;
  border: 5%;
}

.product__data {
  display: flex;
  align-items: center;
  margin: 1em;
}

.form__btn {
  padding: 2em;
  color: #fff;
  background-color: gray;
  border-radius: 5%;
  border: none;
  margin: 2em;
}

.succes__message {
  color: green;
  font-size: Bolder;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
}