@use "./sass/pages/loginpage/hero";


@use "./sass/pages/homepage/headerhp";
@use "./sass/pages/homepage/herohp";
@use "./sass/pages/homepage/footerhp";

@use "./sass/pages/shoppage/headersp";
@use "./sass/pages/shoppage/herosp";
@use "./sass/pages/shoppage/footersp";


@use "./sass/pages/contactpage/herocp";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // background-color: red;
  }
  
  .container {
    width: 90%;
  }
